{:deps {org.clojure/clojure               {:mvn/version "1.10.3"}
        org.clojure/tools.namespace       {:mvn/version "1.2.0"}
        com.drewnoakes/metadata-extractor {:mvn/version "2.17.0"}
        org.clojure/tools.cli             {:mvn/version "1.0.206"}
        org.clojure/data.csv              {:mvn/version "1.0.0"}

        medley/medley                     {:mvn/version "1.3.0"}
        expound/expound                   {:mvn/version "0.9.0"}
        orchestra/orchestra               {:mvn/version "2021.01.01-1"}
        com.taoensso/timbre               {:mvn/version "5.1.2"}
        nubank/matcher-combinators        {:mvn/version "3.3.1"}
        ;;vvvvalvalval/scope-capture        {:mvn/version "0.3.2"}
        }

 :paths ["src" "dev" "test" "images"]

 :aliases
 {:dev {:extra-deps  {cider/cider-nrepl           {:mvn/version "0.27.4"}}}
  :lint
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
   :main-opts ["-m" "clj-kondo.main"]}


  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
            :exec-fn hf.depstar/uberjar
            :exec-args {:aot true}}

  :native-image {:main-opts ["-m" "clj.native-image" "extract-image-metadata.main"
                        "--initialize-at-build-time"
                        ;; optional native image name override
                        "-H:Name=extract"]
            :jvm-opts ["-Dclojure.compiler.direct-linking=true"]
            :extra-deps
            {clj.native-image/clj.native-image
             {:git/url "https://github.com/taylorwood/clj.native-image.git"
              :sha "7708e7fd4572459c81f6a6b8e44c96f41cdd92d4"}}}

  :tests
  {:extra-deps {lambdaisland/kaocha {:mvn/version "0.0-581"}}
   :main-opts ["-m" "kaocha.runner"]}

  :rebel {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
          :main-opts  ["-m" "rebel-readline.main"]}

  :outdated
  {:extra-deps {olical/depot {:mvn/version "1.8.4"}}
   :main-opts ["-m" "depot.outdated.main"]}}}
